body{
    margin: 0;
    display: block;
    background-color: rgb(240, 159, 9);
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nokolians{
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    position: sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-content: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;

}
.nokolians p{
    font-size: 20px;
    font-weight: bold;
}
.part_1{
    width: 100%;
    height: 200px;
    border-radius: 2px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main_border{
    width: 105px;
    height: 100px;
    align-content: center;
    border-radius: 50%;
    display: flex;
    display: block;
    justify-content: center;
    border: solid 5px white;
}
.main_border img{
    width: 100px;
    height: 100px;
    align-content: center;
    border-radius: 50%;
    border: solid 2px;
}
.part_2{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    margin: 0px,10px,0px,10px;
    align-content: center;
    justify-content: center;
}
.part_2 div{
    display: flex;
    flex-direction: column;
}
.part_2 p{
    text-align: center;
    font-size: 15px;
}
.part_2 img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    border: solid 2px;
    margin-top: 10px;
}
